:root{
    --background:white;
    --container-color: #ffdcc4;
    --headers: black;
    --text: black;
    --link: blue;
}
.site{
    max-width: 80%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "title title title"
        "main main sidebar"
        "main main sidebar"
        "footer footer footer";
    grid-gap: 1em;
}

body{
    background-color: var(--background);
    font-family: 'Averta CY';
    font-size: 20px;
    
}
.page-title{
    grid-column: title;
    background-color: var(--container-color);
    padding: 20px 20px 20px 20px;
}
.prep{
    grid-column: sidebar;
    grid-row: sidebar;
    padding: 20px 20px 20px 20px;
    background-color: var(--container-color);
}
.description{
    grid-column: main;
    background-color: var(--container-color);
    padding: 20px 20px 20px 20px;
}
.main-text{
    grid-column: main;
    background-color: var(--container-color);
    padding: 20px 20px 20px 20px;
}
.center img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    padding: 3px 0px 10px 0px;
}
#prep{
    border: 5px solid black;
}


@media screen and (max-width: 800px) {
    .site{
       display: grid;
       grid-template-columns: 1fr 1fr; 
       grid-template-areas:
       "title title"
       "main main"
       "sidebar sidebar"
    }
    .main-text{
        grid-column: 1/3;
        grid-row: auto;
    }
    img{
        width: 80%;
        max-width: 400px;
        height: auto;
    }
    .center img{
        display: block;
        margin-left:auto;
        margin-right: auto;
        padding: 3px 0px 10px 0px;
    }
}